body {
    margin: 0;
}

@font-face {
    font-family: myGoTFont;
    src: url(/fonts/Game\ of\ Thrones.ttf);
}

.container {
    display: flex;
    flex-direction: row;
    font-family: myGoTFont;
}

.listOfCharacters {
    background-image: url(/assets/site/mapblue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 100vh;
    justify-content: space-evenly;
}

.characters {
    float: left;
    text-align: center;
    height: 14vh;
    width: 9vw;
    margin: 5px;
    font-size: 6px;
}

img {
    height: 60%;
    width: 40%;
}

.search {
    background-color: #555;
    width: 20vw;
    height: 100vh;
}